body{
  background-color: #4b145b;
}

.container{
  background-color: #ffffff;
  width: 60vw;
  margin: 5rem auto;
  border-radius: 1%;
  display: flex;
  justify-content: space-between;
  color: #102a42;
  padding: 50px;
}
.container h1{
  font-weight: 500;
  width: 300px;
  height: 450px;
  /* border: 1px solid black; */
}

.question{
  width: 500px;
  /* height: 100px; */
  padding: 0.5rem 1.5rem;
  border: 2px solid #eae6eb;
  color: #102a42;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.question header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question h3{
  font-weight: 500;
}
.question p{
  margin: 0;
}
.new-p{
  padding-bottom: 15px;
}

.btn{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
}